In [3]:
import random
a = random.randint(1,100)
b = -1
while not a == b:
    b  = int(input('please input a number:'))
    if a == b :
        print('Same')
    elif a > b :
        print('Smaller')
    else:
        print('bigger')

please input a number:20
Smaller
please input a number:34
Smaller
please input a number:40
Smaller
please input a number:50
Smaller
please input a number:60
Smaller
please input a number:70
bigger
please input a number:69
bigger
please input a number:65
Smaller
please input a number:66
Same

In [11]:
# (0,0.15] 100元 （0.15,0.4] 40元 （0.4,1] 20元
money  = 0
for x in range(1000000):
    get = random.random()
    if 0 < get <= 0.15:
        money += 100
    elif 0.15< get <=0.4:
        money += 40
    else:
        money += 20
print (money/1000000.0)

36.96336

In [21]:
import numpy as np
import pandas as pd
a = [1,2,3,4]
b = np.array(a)
stus_score = np.array([[80,88],[82.81],[84,75],[86,83],[75,81]])
print(syus_score)
result = np.amin(stus_score,axis=0) #每一列最小值
result_01 = np.amin(stus_score,axix=1) #每一行最小值

[list([80, 88]) list([82.81]) list([84, 75]) list([86, 83]) list([75, 81])]

In [22]:
import pandas as pd

head = pd.read_csv('yob2010.txt')

head

        Isabella  F  22731
0         Sophia  F  20477
1           Emma  F  17179
2         Olivia  F  16860
3            Ava  F  15300
4          Emily  F  14172
5        Abigail  F  14124
6        Madison  F  13070
7          Chloe  F  11656
8            Mia  F  10541
9        Addison  F  10253
10     Elizabeth  F  10135
11          Ella  F   9796
12       Natalie  F   8715
13      Samantha  F   8334
14        Alexis  F   8181
15          Lily  F   7900
16         Grace  F   7598
17        Hailey  F   6969
18        Alyssa  F   6934
19       Lillian  F   6898
20        Hannah  F   6891
21         Avery  F   6633
22          Leah  F   6474
23        Nevaeh  F   6345
24         Sofia  F   6282
25        Ashley  F   6276
26          Anna  F   6242
27       Brianna  F   6224
28         Sarah  F   6223
29           Zoe  F   6200
...          ... ..    ...
33807    Zaviyon  M      5
33808   Zaybrien  M      5
33809   Zayshawn  M      5
33810     Zayyan  M      5
33811       Zeal  M      5
33812     Zealan  M      5
33813   Zecharia  M      5
33814   Zeferino  M      5
33815   Zekariah  M      5
33816       Zeki  M      5
33817     Zeriah  M      5
33818     Zeshan  M      5
33819     Zhyier  M      5
33820   Zildjian  M      5
33821       Zinn  M      5
33822     Zishan  M      5
33823      Ziven  M      5
33824      Zmari  M      5
33825      Zoren  M      5
33826     Zuhaib  M      5
33827     Zyeire  M      5
33828    Zygmunt  M      5
33829   Zykerion  M      5
33830      Zylar  M      5
33831      Zylin  M      5
33832    Zymaire  M      5
33833     Zyonne  M      5
33834  Zyquarius  M      5
33835      Zyran  M      5
33836      Zzyzx  M      5

[33837 rows x 3 columns]

In [25]:
import numpy as np
from sklearn.linear_model import LinearRegression
X = np.array([[1,1],[1,2],[2,2],[2,3]])
y = np.dot(X, np.array([1,2])) + 3
reg = LinearRegression().fit(X,y)
print(reg.score(X,y))
print(reg.coef_)
print(reg.intercept_)
print(reg.predict(np.array([[3,5]])))

1.0
[1. 2.]
3.0000000000000018
[16.]